<div class="task-home">
  <app-task-list
    app-droppable
    [drag-enter-class]="'drag-enter'"
    class="task-list"
    *ngFor="let list of lists">
    <app-task-header
      [header]="list.name"
      (newTask)="launchNewTaskDialog()"
      (editList)="launchEditListDialog()"
      (moveAll)="launchCopyTaskDialog()"
      (delList)="launchConfirmDialog()"></app-task-header>
    <app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (taskClick)="launchUpdateTaskDialog(task)"></app-task-item>
  </app-task-list>
</div>

<button
  class="fab-button"
  mat-fab
  type="button"
  (click)="launchNewListDialog()">
  <mat-icon>add</mat-icon>
</button>
