<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        每日佳句
      </mat-card-title>
      <mat-card-subtitle>
        问渠那得清如许，为有源头活水来
      </mat-card-subtitle>
    </mat-card-header>
    <!-- <img matCardImage src="assets/Naruto.jpeg"> matCardImage === class="mat-card-image" -->
    <img class="mat-card-image" src="assets/Naruto.jpeg">
    <mat-card-content>
      学而不思则罔，思而不学则殆
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>登录</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="您的 Email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="您的 密码">
      </mat-form-field>
      <div class="text-right">
        <button mat-raised-button color="primary" type="button">登录</button>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>还没有注册？<a href="">注册</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>
</form>