<form [formGroup]="form" (ngSubmit)="handleSubmit(form, $event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        每日佳句
      </mat-card-title>
      <mat-card-subtitle>
        {{quote.cn}}
      </mat-card-subtitle>
    </mat-card-header>
    <!-- <img matCardImage src="assets/Naruto.jpeg"> matCardImage === class="mat-card-image" -->
    <img class="mat-card-image" [src]="quote.pic">
    <mat-card-content>
      {{quote.en}}
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>登录</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="您的 Email" formControlName="email">
        <mat-error>请输入合法邮箱📮{{form.controls.email.errors | json}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="您的密码" formControlName="password">
        <mat-error>请输入密码㊙️{{form.controls.password.errors | json}}</mat-error>
      </mat-form-field>
      <div class="text-right">
        <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">登录</button>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>还没有注册？<a routerLink="/register">注册</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>
</form>